# # Local development:
# DATABASE_URL="postgresql://user:password@localhost:5432/soluscity"
# Railway production example:
DATABASE_URL="https://solus-city-app-production.up.railway.app"
JWT_SECRET="9f81cbdcc088b6f30f547483af7990e80f90ca7bbb6652b0516323c1919ef83824e1330c580f04c0cd71b185f3f8da1e"
PORT=3000
